<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="107.1.9" targetFramework="net472" />
  <package id="cef.redist.x86" version="107.1.9" targetFramework="net472" />
  <package id="CefSharp.Common" version="107.1.90" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="107.1.90" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1537.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>